body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    height: 100%;
}

.contain {
    min-height: 650px;
    background: #000000;
    position: relative;
    width: 4%;
    min-width: 60px;
    max-width: 60px;


}


.icon {
    background: orangered;
    border: 1px solid orangered;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

.icon-4 {
    background: palevioletred;
    border: 1px solid palevioletred;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icon-5 {
    background: #2d2db0;
    border: 1px solid #2d2db0;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icon-6 {
    background: #147bc9;
    border: 1px solid #147bc9;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icon-7 {
    background: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icon-img {
    width: 20px;
    height: 20px;
    position: absolute;

}

.plus {
    border: 1px solid #807e7e;
    background: #807e7e;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    bottom: 10px;
}

.plus img {
    width: 20px;
    height: 20px;
}

.info {
    width: 15%;
    min-width: 200px;
    background: #333333;


}

.top-info {
    display: flex;
    padding-left: 15px;
    position: relative;

}

.top-info p {
    color: white;
    font-size: 15px;
}

.img-info {
    width: 12px;
    height: 12px;
    margin-top: 17px;
    margin-left: 5px;
    fill: white;

}

.img-info2 {
    width: 15px;
    height: 15px;
    margin-top: 17px;
    position: absolute;
    right: 15px;
    /*top: 10px;*/

}

.allTreads {
    display: flex;
    margin-left: 10px;
}

.allTreads p {
    color: darkgray;
    margin-left: 10px;
    font-size: 15px;
}


.text {
    color: darkgray;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-right: 17px;
    margin-left: 10px;
}

.teg {
    margin-top: 10px;
}

.element {
    display: flex;
    color: darkgray;
    margin-left: 15px;


}

/*.element:hover{*/
/*    background: darkgray;*/
/*    color: white;*/
/*    border: solid 1px darkgray;*/
/*    border-radius: 5px;*/

/*}*/

.element img {
    width: 10px;
    height: 10px;
}

.element p {
    margin-left: 5px;
    margin-top: -5px;
    justify-content: center;
    font-size: 14px;
}

.friends {
    font-size: 11px;
    justify-content: space-between;
    color: #919191;
    display: flex;
    margin-right: 15px;
    margin-left: 10px;

}

.point {
    width: 4px;
    height: 4px;
    border-radius: 50px;
    border: 1px solid greenyellow;
    background: greenyellow;
    margin-left: 10px;
    margin-top: 23px;
}

.person img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
}

.person p {
    color: darkgray;
    font-size: 14px;
}

.person {
    display: flex;

}

.coments {
    width: 67%;
}

.top-main {
    background: white;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.left {
    display: flex;
    padding: 20px 5px 5px;
    margin-left: 15px;
    width: 20%;
    min-width: 120px;
    max-width: 120px;
    align-items: center;
}

.left p {
    /*margin-left: 5px;*/
    margin: 0;
    font-size: 20px;
}

.left img {
    width: 12px;
    height: 12px;
}

.star {
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

.right {
    display: flex;
    align-items: center;
}

.right img {
    width: 15px;
    height: 15px;
}

.right p {
    margin-left: 5px;
}

.right input {
    margin-left: 15px;
    margin-right: 15px;
}

.more {
    margin: 10px;
}

.main-coment {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    width: 90%;
}

.main-coment p{
    font-size: 13px;
    margin: 2px;
}

.main-coment img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 0;


}

.main-img {
    position: relative;
    width: 10%;
    max-width: 40px;
    min-width: 40px;
}

.main-img img {
    position: absolute;
    top: -115px;
}

.nick {
    display: flex;
    /*margin-bottom: 5px;*/

}

.name {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 12px;
}

.time {
    color: darkgray;
    margin: 0;
    font-size: 12px;
}

i {
    color: blue;
    font-size: 13px;

}

hr {

}

.message-date {
    color: #8D8D8D;
    font-size: 13px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-49%, 0%);
}

.message-wraper {
    position: relative;

}

.message-date p {
    padding: 5px;
    background: white;

}

/*.span {*/
/*    background: white;*/
/*    display: bloc*/
/*}*/

.post img {
    width: 200px;
    height: 150px;
    margin-top: 20px;
}

.post p {
    margin: 3px;
}


.left-img{
    display: flex;
}

.left-img p{
    padding-left: 10px;

}

.left-img img{
    width: 20px;
    height: 20px;
    /*margin-right: 5px;*/
    margin-left: 15px;
}

.down-block{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.down-block p{
    margin: 0;
}

.right-img img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.right-img{
    justify-content: right;
}

.person-info{
    width: 14%;
    background: lightgrey;

}



.person-info img{
    width: 100%;
}

.person-content{
    padding-left: 20px;
}

.person-content p{
    margin-bottom: 5px;
    padding-bottom: 0;

}


.main-info{
    display: flex;
    /*padding-left: 10px;*/
}

.main-info p{
    font-size: 16px;
}

.job-person{
    font-size: 12px;
    color: dimgrey;
    margin: 0;
    padding: 0;
}


.social{
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.back{
    width: 25px;
    height:25px;
    background: #e9e9e9;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px ;


}

.back img {
    width: 15px;
    height: 15px;
    max-height: 15px;
    position: absolute;
    /*top: 5;*/
}

.both{
    display: flex;
    margin-top: 15px;
}

.message{
    color: white;
    font-size: 13px;
    width: 70%;
    min-width: 50px;
    background: #3577EF;
    border-radius: 5%;
    height: 25px;
    text-align: center;
    margin-right: 5px;
    margin-left: 20px;

}

.message p{
   /*padding-top: -10px;*/
    margin-top: 5px;
}

.down{
    background: #3577EF;
    border-radius: 5%;
    width: 15%;
    min-width: 20px;
    height: 25px;
    margin-right: 5px;


}

.down img{
    width: 10px;
    height: 10px;
    margin-top: 7px;
    margin-left: 12px;
}

.link{
    margin-left: 20px;
}

.user{
    font-size: 12px;
    color: dimgrey;
    margin-top: 15px;
    margin-bottom: 5px;
}

.a-mail{
    font-size: 14px;
    margin: 0;
}